:root {
    /* Breakpoints */
    --sm: 40rem;   /* 640px */
    --md: 48rem;   /* 768px */
    --lg: 64rem;   /* 1024px */
    --xl: 80rem;   /* 1280px */
    --twoXl: 96rem;  /* 1536px */

    /* Colors */
    --color-white: #F5F5F5;      /* Light background (page) */
    --color-black: #0F0F0F;      /* Primary body text */
    --color-black-soft: #505050; /* Headings, hero text, large titles */
    --color-accent: #5A5A5A;     /* Subtext, metadata, captions */
    --color-highlight: #E0E0E0;  /* Borders, dividers, hover states */
    --color-cta: #111111; 
    --color-gray-light: #F5F5F5;       /* Call-to-action buttons, links */

    /* Font Sizes */
    --text-xs: 0.75rem;
    --text-xs-line-height: 1rem;

    --text-sm: 0.875rem;
    --text-sm-line-height: 1.25rem;

    --text-base: 1rem;
    --text-base-line-height: 1.5rem;

    --text-lg: 1.125rem;
    --text-lg-line-height: 1.75rem;

    --text-xl: 1.25rem;
    --text-xl-line-height: 1.75rem;

    --text-2xl: 1.5rem;
    --text-2xl-line-height: 2rem;

    --text-3xl: 1.875rem;
    --text-3xl-line-height: 2.25rem;

    --text-4xl: 2.25rem;
    --text-4xl-line-height: 2.5rem;

    --text-5xl: 3rem;
    --text-5xl-line-height: 1;

    --text-6xl: 3.75rem;
    --text-6xl-line-height: 1;

    --text-7xl: 4.5rem;
    --text-7xl-line-height: 1;

    --text-8xl: 6rem;
    --text-8xl-line-height: 1;

    --text-9xl: 8rem;
    --text-9xl-line-height: 1;

    --line-height: min(1.2, 1);
    
    /* Font Weights */
    --text-semibold: 600;
    --text-bold: 700;

    /* Max-Width */
    --max-w-xs: 20rem;    /* 320px */
    --max-w-sm: 24rem;    /* 384px */
    --max-w-md: 28rem;    /* 448px */
    --max-w-lg: 32rem;    /* 512px */
    --max-w-xl: 36rem;    /* 576px */
    --max-w-2xl: 42rem;   /* 672px */
    --max-w-3xl: 48rem;   /* 768px */
    --max-w-4xl: 56rem;   /* 896px */
    --max-w-5xl: 64rem;   /* 1024px */
    --max-w-6xl: 72rem;   /* 1152px */
    --max-w-7xl: 80rem;   /* 1280px */
    --max-w-full: 100%;

    /* JavaScript effects */
    --js-fade-in: 0.25s;
    --js-transition: 0.25s;
    --js-translate-y: translateY(-25px);

    --transition-speed: 0.2s;
}

[data-theme="dark"] {
  --color-white: #0F0F0F;       /* Dark background */
  --color-black: #F5F5F5;       /* Light text */
  --color-soft-black: #EAEAEA;  /* Headers in light gray */
  --color-accent: #A1A1A1;      /* Subtext in medium gray */
  --color-highlight: #333333;   /* Border lines, hover overlays */
  --color-cta: #FFFFFF;         /* CTA buttons in white */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
}

/* Components */
.global--section {
  margin-inline: auto;
  max-width: var(--max-w-5xl, 64rem); /* 1024px */
  padding: 3rem 1rem;
  width: 100%;    
}

.global--section-header {
  color: var(--color-black);
  font-size: var(--text-base);
  font-weight: var(--text-semibold);
  line-height: var(--text-base-line-height);
  margin-bottom: 0.5rem;
  margin-inline: auto;
  text-align: left;
  width: 100%;
}

 .global--section-subheader {
  color: var(--color-black);
  font-size: clamp(var(--text-3xl), 10vw, var(--text-7xl));
  font-weight: var(--text-semibold, 600);
  letter-spacing: -1.2px;
  line-height: var(--line-height);
  margin-bottom: 1.5rem;
  text-wrap: balance;
  width: 100%;
}

.global--section-paragraph {
  font-size: var(--text-lg, 1.125rem);
  color: var(--color-accent);
  line-height: var(--text-lg-line-height, 1.75rem);
  margin-bottom: 2rem;
  text-align: left;
  text-wrap: balance;
  width: 100%;
}

.global--grid-1-2 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  width: 100%;
}

.global--grid-1-2-3 {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
}
    
/* md 48rem (768px) */
@media (min-width: 48rem) {
  .global--section {
    padding: 5rem 1rem;
  }
  
  .global--section-header {
    text-align: center;
  
  }
  .global--section-subheader {
    margin-bottom: 2.5rem;
    margin-inline: auto;
    text-align: center;
  }

  .global--section-paragraph {
    margin-bottom: 4rem;
    margin-inline: auto;
    max-width: var(--max-w-3xl);
    text-align: center;
  }

  .global--grid-1-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .global--grid-1-2-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

/* lg 64rem (1024px) */
@media (min-width: 64rem) {
  .global--grid-1-2-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}