/* ----- PRICING ----- */
.pricing--features li {
    font-size: var(--text-sm);
    line-height: var(--text-sm-line-height);
    
    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.pricing--features li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.pricing--features li svg {
    color: var(--color-accent);
    height: var(--text-lg);
    width: var(--text-lg);
}

#pricing--annual-features li {
    color: var(--color-gray-light);
}

#pricing--monthly-features li {
    color: var(--color-gray-dark);
}

.pricing--everything-you-get {
    color: var(--color-gray-light);
    font-weight: var(--text-semibold);
    font-size: var(--text-base);
    line-height: var(--text-base-line-height);
    margin-top: 4rem;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#dashed-arrow-icon {
    rotate: calc(90deg);
    max-width: var(--max-w-xs);
    width: 100%;
}

/* ----- END: PRICING ----- */