/* ----- HERO ----- */
button1-primary-large::part(button1){
  --bg-color:        var(--color-accent-hover);   /* on <a>          */
  --bg-color-before: var(--color-accent);         /* on ::before     */
}

.hero--highlighted {
    color: var(--color-accent);
    font-weight: var(--text-semibold);
}

.hero--bold {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

#hero--img {
    width: 100%;
}
/* ----- END: HERO ----- */


/* ----- WHY WORK WITH US? ----- */
.why-us {
    background-color: var(--color-accent-light);
}

#why-us--content ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

#why-us--content .list-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

#why-us--content svg {
    color: var(--color-accent);
    margin-top: 3px;
    min-width: 2rem;
    width: 2rem;
}

.why-us--feature {
    font-weight: var(--text-semibold);
}

.why-us--description {
    color: var(--color-gray);
}

#why-us--img {
    width: 100%;
}
/* ----- END: WHY WORK WITH US? ----- */


/* ----- CTA ----- */
#cta--button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#cta--button-content svg {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
}

/* md: 48rem (768px) */
@media (min-width: 48rem) {
    #cta--button-content svg {
        height: 2rem;
        width: 2rem;
    }
}
/* ----- END: CTA ----- */


/* ----- PRICING ----- */
.pricing--features li {
    font-size: var(--text-sm);
    line-height: var(--text-sm-line-height);
    
    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.pricing--features li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.pricing--features li svg {
    color: var(--color-accent);
    height: var(--text-lg);
    width: var(--text-lg);
}

#pricing--annual-features li {
    color: var(--color-gray-light);
}

#pricing--monthly-features li {
    color: var(--color-gray-dark);
}

.pricing--everything-you-get {
    color: var(--color-gray-light);
    font-weight: var(--text-semibold);
    font-size: var(--text-base);
    line-height: var(--text-base-line-height);
    margin-top: 4rem;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#dashed-arrow-icon {
    rotate: calc(90deg);
    max-width: var(--max-w-xs);
    width: 100%;
}
/* ----- END: PRICING ----- */


/* ----- FOOTER ----- */
.footer--links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.footer--links a {
    color: #121212;
    font-weight: var(--text-semibold);
    transition: color 0.3s ease-in-out;
}

.footer--links a:hover {
    color: var(--color-accent);
}
/* ----- END: FOOTER ----- */