<!-- PRICING -->
<section>
    <div class="pricing">
        <div class="gradient-wrapper" aria-hidden="true">
            <div class="gradient-inner"></div>
        </div>
        
        <h1 class="section-subheader">Pricing</h1>
        <p class="section-header">Choose the right plan for you</p>
        <p class="section-description">
            Choose an affordable plan that’s packed with the best
            features for engaging your audience, creating customer loyalty, and driving sales.
        </p>
        
        <div class="grid">
            <div class="grid-col">
                <div class="card" id="card--annually">
                    <div>
                    <h3 class="pricing--subscription-type">Annual Subscription <span class="pill">Save $600!</span></h3>
                    <p class="pricing--price"><span class="pricing--price-amount">$3000</span> <span class="pricing--per">/year</span></p>
                    </div>

                    <p class="pricing--description">The best value – equates to $250 per month.</p>
                    <ul class="pricing--features text-base" id="pricing--annual-features"></ul>

                    <a href="" class="button-1">
                        <span class="button-1-content">
                            Get started today
                        </span>
                    </a>
                </div>
            </div>

            <div class="grid-col">
                <div class="card" id="card--monthly">
                <span class="pill">Popular 🔥</span>
                <div>
                    <h3 class="pricing--subscription-type">Monthly Subscription</h3>
                    <p class="pricing--price"><span class="pricing--price-amount">$300</span> <span class="pricing--per">/month</span></p>
                </div>
                <p class="pricing--per">Our best-selling plan.</p>
                <ul class="pricing--features text-base" id="pricing--monthly-features"></ul>

                <a href="" class="button-1">
                    <span class="button-1-content">
                        Get started today
                    </span>
                </a>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing--everything-you-get">
        <div id="dashed-arrow-icon"></div>
        <p>Everything you get 🤩✨</p>
    </div>
</section>

<style>
    /* ----- PRICING ----- */
.pricing {
    position: relative;
}

.gradient-wrapper {
    position: absolute;
    left: 15rem;
    top: 13rem;
    z-index: -10;
    transform: translateZ(0);
    overflow: hidden;
    filter: blur(8rem);
}

.gradient-inner {
    aspect-ratio: 1155 / 678;
    background: linear-gradient(var(--color-accent), rgb(115, 222, 255));
    opacity: 0.4;
    height: 150px;
    width: 900px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.pricing .card {
    border-radius: 1.5rem;
    padding: 5rem 3rem;
    width: var(--max-w-full, 100%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

#card--annually {
    border: solid 1.5px #dedede;
}

#card--annually .pricing--description,
#card--annually .pricing--per,
#card--annually li {
  color: var(--color-gray-light);
}

#card--annually .pricing--subscription-type {    
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

#card--annually .pill {
  background-color: #cffff2;
}

#card--annually .button-1 {
    color: var(--color-accent);
    outline: var(--color-accent) solid 1px !important;
}

#card--annually .button-1::before {
    background-color: #FFFFFF;
}

#card--monthly {
    background-color: #121212;
    color: #FFFFFF;
    padding: 7rem 3rem;
    position: relative;
}

#card--monthly .pill {
    background-color: var(--color-accent);
    border-radius: 8px;
    font-size: var(--text-base);
    font-weight: var(--text-semibold);
    line-height: var(--text-base-line-height);
    position: absolute;
    top: -1rem;
    left: 3rem;
}

#card--monthly .pricing--description,
#card--monthly .pricing--per,
#card--monthly li {
  color: var(--color-gray-dark);
}

.pricing--subscription-type {
  color: var(--color-accent);
  font-size: var(--text-base);
  font-weight: var(--text-semibold);
  line-height: var(--text-base-line-height);
  width: var(--max-w-full, 100%);
}

.pricing--price-amount {
    font-size: var(--text-5xl);
    font-weight: var(--text-semibold);
    line-height: var(--text-5xl-line-height);
}

.pricing--per {
    font-size: var(--text-base);
    line-height: var(--text-base-line-height);
}

.pricing ul li:not(:last-child) {
    margin-bottom: 0.75rem;
}

.pricing li {
    font-size: var(--text-sm);
    line-height: var(--text-sm-line-height);

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.pricing .icon {
    color: var(--color-accent);
    display: inline-block;
    min-width: 1.5rem;
    width: 1.5rem;
}

.pricing .button-1 {
    padding: 0.75rem 1rem;
    width: var(--max-w-full, 100%);
}

.pricing .button-1-content {
    font-size: var(--text-sm);
    line-height: var(--text-sm-line-height);

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pricing--everything-you-get {
    color: var(--color-gray-light);
    font-weight: var(--text-semibold);
    font-size: var(--text-base);
    line-height: var(--text-base-line-height);
    margin-top: 4rem;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#dashed-arrow-icon {
    rotate: calc(90deg);
    max-width: var(--max-w-xs);
    width: 100%;
}

/* md 48rem (768px) */
@media (min-width: 48rem) {
    .pricing .grid {
        align-items: center;
        gap: 0;
    }

    #card--annually {
      border-radius: 1.5rem 0 0 1.5rem;
    }

    #card--annually .pricing--subscription-type {    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
}
/* ----- END: PRICING ----- */

</style>