body {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* What's Included With Your Subscription */
#whatisincluded h1 {
    font-size: var(--text-3xl, 1.875rem);
    font-weight: var(--text-semibold, 600);
    letter-spacing: -1.2px;
    line-height: var(--text-3xl-line-height, 2.25rem);
    margin-bottom: 1rem;
    text-wrap: balance;
    width: 100%;
}

#whatisincluded p {
    font-size: var(--text-lg, 1.125rem);
    color: var(--text-gray, #495565);
    line-height: var(--text-lg-line-height, 1.75rem);
    margin-bottom: 3rem;
    text-wrap: balance;
}

/* md 48rem (768px) */
@media (min-width: 48rem) {
    #whatisincluded h1 {
        font-size: var(--text-5xl, 3rem);
        margin-inline: auto;
        max-width: 42rem;
        text-align: center;
    }

    #whatisincluded p {
        margin-inline: auto;
        max-width: 56rem;
        text-align: center;
    }
}

.section {
    margin-inline: auto;
    max-width: 80rem;
    padding: 4rem 1rem;
    width: 100%;
}