/* HERO */
.hero--green-text {
    color: var(--color-accent);
    font-weight: var(--text-semibold);
}

.hero--green-underline {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.hero--image-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero--image-container-background {
    left: 50%;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    z-index: -1;
}

#hero--image-container-foreground {
  z-index: 1;
  width: 100%;
}

/* WHAT WE OFFER */
#what-we-offer .card--no-icon {
    align-items: center;
    justify-content: center;
}

/* WHY WORK WITH US */
.why-work-with-us-bg {
    background-color: var(--color-accent-light);
}

#why-work-with-us ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

#why-work-with-us li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

#why-work-with-us svg {
    color: var(--color-accent);
    margin-top: 3px;
    min-width: 2rem;
    width: 2rem;
}

.why-work-with-us--feature {
    font-weight: var(--text-semibold);
}

.why-work-with-us--description {
    color: var(--color-gray);
}

.why-work-with-us--image-container {
    width: 100%;
    
    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CTA */
#cta {
    background-color: var(--color-accent-light);

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #cta .global--section-header,
    #cta .global--section-subheader,
    #cta .global--section-paragraph {
        text-align: center;
    }

#cta svg {
    margin: 2px 0.75rem 0 0;
    min-width: 2rem;
    width: 2rem;
}

/* ---------- MEDIA QUERIES ---------- */
/* md: 48rem (768px) */
@media (min-width: 48rem) {
    /* HERO */
    #hero .global--section-header,
    #hero .global--section-subheader,
    #hero .global--section-paragraph {
        text-align: left;
    }

    #hero--image-container-background {
        width: 70rem;
    }

    /* HERO */
    #why-work-with-us .global--section-header,
    #why-work-with-us .global--section-subheader,
    #why-work-with-us .global--section-paragraph {
        text-align: left;
    }

    /* CTA */
    #cta p {
        max-width: 70%;
    }
}