.included-in-your-subscription .icon {
    background-color: #303030;
    border-radius: 8px;
    color: #FFFFFF;
    min-width: 3rem;
    padding: 0.5rem;
    width: 2.5rem;
}

.included-in-your-subscription p {
    font-size: var(--text-base, 1rem);
    color: var(--text-gray, #495565);
    line-height: var(--text-base-line-height, 1.5rem);
}