#contact-component {
    opacity: 0; 
    transition: opacity .1s ease-in; 

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

#contact-component svg {
    min-width: 1.75rem;
    width: 1.75rem;
}

#contact-component li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

#contact-component .contact-component__title {
    color: #121212;
    font-weight: var(--text-semibold);
}

#contact-component a {
    color: var(--color-accent);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: color 0.3s ease-in-out;
}

#contact-component a:hover {
    color: var(--color-accent-hover);
}