.card-4 {
    background-color: var(--color-black);
    border-radius: 48px;
    color: var(--color-white);
    height: 65vh;
    overflow: hidden;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-4__right-section img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.card-4__left-section {
    height: 100%;
    padding: 0 2rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.card-4__number {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl-line-height);
}

.card-4__our-service {
    font-size: var(--text-xl);
    font-weight: var(--text-bold);
    line-height: var(--text-xl-line-height);
}

.card-4__service {
    font-size: var(--text-7xl);
    font-weight: 700;
    letter-spacing: -4px;
    line-height: var(--text-7xl-line-height);
    
}

.card-4__description {
    color: var(--color-highlight);
    font-size: var(--text-lg);
    line-height: var(--text-lg-line-height);
    text-wrap: balance;
}

.card-4__right-section {
    background-color: #3a3a3a;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-4 .button {
    border-radius: 100px;
}

.card-4 .button svg {
    margin-left: 8px;
    transform: rotate(-45deg);
    transition: transform var(--transition-speed) ease-in-out;
    width: fit-content;
}

.card-4 .button:hover svg {
    transform: rotate(0deg);
}

.card-4 .button--primary {
  background-color: var(--color-white);
  color: var(--color-black);
}

.card-4 .button--primary::before {
  background-color: #FFFFFF;
}

.card-4 .button--primary:hover::before {
  transform: translateX(100%);
}

.card-4 .button--primary:hover span,
.card-4 .button--primary:hover svg {
  color: var(--color-black);
}