nav {
  border: solid 1px #121212;
  box-shadow: 0px 20px 0px -10px #000000;
  margin-inline: auto;
  margin-top: 2rem;
  max-width: var(--max-w-6xl);
  padding: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  font-size: var(--text-2xl);
  font-weight: var(--text-semibold);
  line-height: var(--text-2xl-line-height);
}

nav a svg {
  transform: rotate(-45deg);
  transition: all ease-in-out 0.25s;
}

nav a:hover svg {
  transform: rotate(0deg);
}

nav a span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}