/* ============================================================
   BUTTON BASE & MODIFIERS
   ============================================================ */

/* Base Button Style */
.button {
  border-radius: 100px;
  display: block;
  cursor: pointer;
  font-weight: var(--text-semibold);
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 10px 24px;
  position: relative;
  transition: all 0.4s ease-in-out;
  width: 100%;
}

.button span {
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
  position: relative;
  transition: all var(--transition-speed) ease-in-out;

  /* Flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button::before {
  background-color: transparent;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  width: 100%;
  z-index: 0;
}

.button::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 0;
}

.button svg {
  transform: rotate(-45deg);
  transition: transform var(--transition-speed) ease-in-out;
}

.button:hover svg,
.button:hover svg {
  transform: rotate(0deg);
}

/* ------------------------------------------------------------
   PRIMARY BUTTON MODIFIER
   ------------------------------------------------------------ */
.button__primary {
  background-color: var(--color-black);
  color: var(--color-white);
}

.button__primary::before {
  background-color: var(--color-black-soft);
}

.button__primary:hover::before {
  transform: translateX(100%);
}

.button__primary:hover span,
.button__primary:hover svg {
  color: var(--color-white);
}

/* ------------------------------------------------------------
   SECONDARY BUTTON MODIFIER (Outline Style)
   ------------------------------------------------------------ */
.button__secondary {
  background-color: transparent;
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

/* .button--secondary::before {
  background-color: #FFFFFF;
} */

.button__secondary:hover::before {
  transform: translateX(100%);
}

/* ------------------------------------------------------------
   LARGE SIZE MODIFIER
   ------------------------------------------------------------ */
.button__large {
  /* vertical padding | horizontal padding */
  padding: 20px clamp(0.5rem, 2vw, 2.5rem);
}

/* ============================================================
   MEDIA QUERIES
   ============================================================ */
@media (min-width: 48rem) {
  .button {
    max-width: fit-content;
  }
}