.card-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.card-2 .icon {
    background-color: var(--color-foreground, #1E1E1E);
    border-radius: 8px;
    color: var(--color-white, #FFFFFF);
    height: 3rem;
    min-width: 3rem;
    padding: 0.5rem;
    width: 3rem;
}

.card-2 h3 {
    color: var(--color-black, #121212);
    font-size: var(--text-base, 1rem);
    font-weight: var(--text-semibold);
    line-height: var(--text-base-line-height, 1.5rem);
    margin-bottom: 0.5rem;
}

.card-2 .card-2__price {
    background-color: var(--color-accent-light);
    border-radius: 8px;
    color: var(--color-accent);
    font-size: var(--text-xs);
    line-height: var(--text-xs-line-height);
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.card-2 .card-2__per {
    color:rgb(183, 183, 183);
    font-size: var(--text-sm);
    line-height: var(--text-sm-line-height);
    margin-left: 0.25rem;
}

.card-2 p {
    font-size: var(--text-base, 1rem);
    color: var(--color-gray);
    line-height: var(--text-base-line-height, 1.5rem);
}