/* ----- HERO ----- */
.contact-us__block {
  border: solid 1px var(--color-black-soft);
  padding: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.contact-us__block h3 {
  color: var(--color-black);
  font-size: var(--text-2xl);
  font-weight: var(--text-semibold);
  line-height: var(--text-2xl-line-height);
}

.contact-us__block p {
  color: var(--color-accent);
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
}

.contact-us__contact-info {
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.contact-us__block .contact-us__phone,
.contact-us__block .contact-us__email {
  color: var(--color-accent);
  text-decoration: underline;
  text-underline-offset: 8px;
  transition: color var(--transition-speed) ease-in-out;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.contact-us__block .contact-us__phone:hover,
.contact-us__block .contact-us__email:hover {
  color: #000000;
}

#next-steps {
  background-color: var(--color-accent-light);
}

.next-steps__divider {
  color: var(--color-accent-light);
  margin: 0 auto;
  max-width: var(--max-w-5xl);
  transform: rotate(180deg);
  width: 100%;
}

/* ---------- MEDIA QUERIES ---------- */
/* md: 48rem (768px) */
@media (min-width: 48rem) {
  #hero .global--section-header,
  #hero .global--section-subheader,
  #hero .global--section-paragraph {
    text-align: left;
  }

  #next-steps {
    padding: 0 8rem 3rem 8rem;
  }
}