/* ----- HERO ----- */
.contact-us__schedule-a-call {
  border: solid 1px var(--color-black-soft);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.contact-us__schedule-a-call h3 {
  color: var(--color-black);
  font-size: var(--text-2xl);
  font-weight: var(--text-semibold);
  line-height: var(--text-2xl-line-height);
}

.contact-us__schedule-a-call p {
  color: var(--color-accent);
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
}

#next-steps {
  background-color: var(--color-accent-light);
}

.next-steps__divider {
  color: var(--color-accent-light);
  margin: 0 auto;
  max-width: var(--max-w-5xl);
  transform: rotate(180deg);
  width: 100%;
}

/* ---------- MEDIA QUERIES ---------- */
/* md: 48rem (768px) */
@media (min-width: 48rem) {
  #hero .global--section-header,
  #hero .global--section-subheader,
  #hero .global--section-paragraph {
    text-align: left;
  }

  #next-steps {
    padding: 0 8rem 3rem 8rem;
  }
}