<section>
    <h1 class="section-subheader">Features</h1>
    <p class="section-header">What’s Included With Your Subscription</p>
    <p class="section-description">
        Both our monthly and annual subscriptions offer small businesses a complete,
        hands-off web solution featuring custom design, unlimited revisions, proactive
        maintenance, secure hosting, and SEO optimization.
    </p>
    <div class="grid included-in-your-subscription"></div>
</section>

<!-- CSS -->
<style>
    .included-in-your-subscription .icon {
        background-color: #303030;
        border-radius: 8px;
        color: #FFFFFF;
        min-width: 3rem;
        padding: 0.5rem;
        width: 3rem;
    }
    
    .included-in-your-subscription p {
        font-size: var(--text-base, 1rem);
        color: var(--text-gray, #495565);
        line-height: var(--text-base-line-height, 1.5rem);
    }
</style>

<!-- JavaScript -->
 <script type="module">
    import { features } from './database.js';

    window.addEventListener('DOMContentLoaded', () => {
        const gridComponent = document.querySelector('.grid');

        features.forEach(({ icon, feature, description}) => {
            const gridCol = document.createElement('div');
            gridCol.className = 'grid-col';
            gridCol.innerHTML = `
                <div class="icon">${icon}</div>

                <div>
                    <h3>${feature}</h3>
                    <p>${description}</p>
                </div>
            `;
            gridComponent.appendChild(gridCol);
        });
    });
</script>